page-pencarian-personel {
	.field-pencarian{
		border:2px solid #aaa;		
	}

	.btn-pencarian-expand{		
		margin:0px !important;
		height:calc(100%);
	}

	.row-personel{
		cursor:pointer;
		border-bottom:2px solid #888;
		ion-avatar{
			min-height: 45px;
			min-width: 45px;
			img{
				min-height: 45px;
				min-width: 45px;
			}
		}
	}
	
	.item-md.item-block .item-inner,
	.list-md .item-block .item-inner{
		border:none !important;
	}

	.row-personel:hover{
		background:#aaa;
	}

	.row-personel .text-nama{
		font-size:17px;
		color:#334A64;
		white-space:normal;
	}

	.row-personel .text-jabatan{
		font-size:12px;
		color:#444557;
		white-space:normal;
	}

	.row-personel .text-pangkat{
		font-size:14px;
		color:#444957;
		white-space:normal;
	}

	.row-personel .text-nrp{
		font-size:12xpx;
		color:#666;
		white-space:normal;
	}

	.header-list{
		background:#57585A;
		color:#fff;
		padding:10px;
		text-align:center;
		font-size:11px;
	}

	.footer-list{
		font-size:10px;		
		text-align:center;
	}

	.footer-list ion-col{		
		text-align:center;
		left:-10px;
	}

	.footer-list ul li{
		display:inline;
	}

	.tni_all{		
	    background-color:$bg-navy !important;
	}

	.tni_au{		
	    background-color:#b3e4e4 !important;
	}

	.tni_ad{		
	    background-color:#91dca7 !important;
	}

	.tni_al{
	    background-color:#63d0ea !important;
	}

	.box-info{
		color:#fff;		
		padding:5px 5px;		
	}

	.box-info-text{				
		padding:10px 5px;				
	}

	.toolbar-title,ion-title{		
		display:inline-flex !important;
		width:auto !important;
	}

	.btn-unit-kerja{
		float:right !important;
		right:-10px;
	}

	.icon-default{		
		padding:60px;
	}

	.content-default{		
		text-align:center;
		height:100%;
		margin:0 auto;
		.icon-logo{
			margin:auto 0;
		}
	}

}