page-cetak-rh {
	td{
		padding:4px;
		font-size:9px;
	}

	.pull-right{
		text-align:right;
		float:right;
	}

	.btn-zoom-grup{
		position:fixed;
		bottom:15px;
		right:10px;
	}

	.btn-zoom-in{
		top: -115px;
	}
}


.pan-view {
	zoom:1;
	-ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.pan-view body{
	zoom:2;
}

